---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'normalize',
		'variables_type1',
		'header_elements',
		'profile_elements',
		'news_elements',
		'viewership_elements',
		'jobs_menu',
		'user_connections_menu',
		'education_menu',
		'footer_elements',
		'_col_breakpoints',
		'_element_breakpoints';


.body{
	overflow: hidden;
}

.wrapper{
	width: 100%;
}

ul{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

li{
	margin-bottom: 0.5em;
	padding: 0 1em 0.5em 1em;
	border-bottom: 1px solid $accent_color;

	&:last-child{
		padding-bottom: 0;
		border-bottom: 0;
	}
}




// CENTER CONTAINERS 
// (NEWS FEED AND VIEWERSHIP)
.center_content_container{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid $accent_color;
}

.center_content_nav{
	width: 100%;
	overflow: hidden;
	margin-bottom: 1em;
}

.center_content_tab{
	box-sizing: border-box;
	padding: 1em;
	padding-left: 1.3em;
	float: left;
	width: 50%;
	background-color: $light_accent;
}






// SEARCH BAR 

.search_bar_outer{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	padding-top: 1em;
	padding-bottom: 1em;
	overflow: hidden;
	background-color: $light_accent;
	border: 1px solid $accent_color;

	input{
		width: 250px;
		border-radius: 10px;
		float: left;
	}

	.fa-search{
		margin-top: 7px;
		margin-left: 5px;
		float: left;
	}
}

.search_bar_inner{
	width: 275px;
	margin: 0 auto;
	overflow: hidden;
}

.side_portal{
	width: 100%;
	border: 1px solid $accent_color;
	overflow: hidden;
	position: relative;
}

.side_portal_nav{
	width: 100%;
	overflow: hidden;
}

.portal_tab_icons{
	width: 25%;
	float: left;
	box-sizing: border-box;
	background-color: $light_accent;
	border-left: 1px solid $accent_color;

	img{
		display: block;
	}
}

.portal_icons{
	width: 40px;
	margin: 0 auto;
	padding: 0.5em;
}

.side_portal_page{
	width: 100%;
	margin-top: 2em;
	box-sizing: border-box;
	padding: 2em;
}


.user_page, .education_page, .heart_page{
	display: none;
}

.current_tab{
	background-color: white;
	border-bottom: 0;
}






