---

---

<!--Version 1 of LinkedIn Dashboard Page-->

<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head1.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}

      <div class="wrapper">
		
		<div class="profile_info col_md_1">
			
			<div class="profile_avatar"> 
				<img class="profile_img" src="./images/profile_icon.png">
				<a href="edit_profile"> Edit Profile </a>
			</div>
			
			<h1 class="profile_name"> Mary Gray </h1>
			<h2 class="profile_job"> Waitress at Happy Grill </h2>
			

			<div class="message_notifications_container">
				<a href="#"> <img class="message_icon blue_icon" src="./images/message_icon.png"> </a>

				<a href="#"> <img class="notifications_icon blue_icon" src="./images/notifications_icon.png"> </a>

				<a href="#" class="see_connections"> See Connections </a>
			</div>

		</div>

		<div class="center_content_container col_sm_1">
			
			<div class="center_content_nav">
				<a href="#">
				<div class="news_tab profile_tab">
					<h2> News Updates </h2>
				</div>
				</a>
				
				<a href="#">
				<div class="viewership_tab profile_tab">
					<h2> My Viewership </h2>
				</div>
				</a>
			</div>

			<div class="news_updates_page tab_info">
				

				<!-- CHECKLIST OF POSSIBLE NEWS GENRES FOR USER TO CHOOSE FROM -->
				<div class="news_checklist">
					<div class="news_genre">
						<input type="checkbox"/> Design
					</div>

					<div class="news_genre">
						<input type="checkbox"/> Business
					</div>

					<div class="news_genre">
						<input type="checkbox"/> Fashion
					</div>

					<a href="#"> <i class="fa fa-caret-down fa-2x"></i> </a>

				<!-- begining dropdown menu 	<dd>
						<ul>
							<li> 
								<input type="checkbox"/> Politics
							</li>

							<li> 
								<input type="checkbox"/> Hollywood
							</li>

							<li> 
								<input type="checkbox"/> Finance
							</li>

							<li> 
								<input type="checkbox"/> Marketing
							</li>

						</ul>
					</dd> -->

				</div>



				<!-- BEGINING OF FIRST NEWS ARTICLE -->
				<div class="news_articles">
					
					<a href="#"> <div class="article_container">
						<div class="article_img_container">
							<img class="article_img" src="./images/paul-david-hewson-434928_1920.jpg">
						</div>

						<h3> 101 Great Talks on Business and Future Development </h3>

						<p> Before they sold old, beard craft beer...</p>

						<a href="#"> Read More</a>
					</div> </a>

					<a href="#"> <div class="article_container">
						<div class="article_img_container">
							<img class="article_img" src="./images/picjumbo.com_HNCK5322.jpg">
						</div>

						<h3> Stormy Weather Headed for Happy Grills Management </h3>

						<p> Fly above the clouds in high class style...</p>

						<a href="#"> Read More</a>
					</div> </a>

					
					<!-- BUTTON TO SHOW MORE ARTICLES -->
					<div class="more_articles"> 
						<a href="#"> 
						<span class="span_more_articles large_link"> More Articles </span> <i class="fa fa-caret-down fa-2x"></i> 
						</a>
					</div>

				</div>

			</div>

			<div class="viewership_page tab_info">
				<div class="big_number_img_container">
					<img class="big_number_img" src="./images/bubbles_icon.png">
				</div>
				
				<div class="viewership_text">
					
					<p> 26 people have viewed your profile page in the last <span class="time_span"> 1 week </span> </p>

					<!-- <div class="time_span_dropdown">
						<p> I'm gonna be text some day :D </p>
					</div> -->

				</div>

				<div class="graph"> </div>

				<div class="viewer_stats_container">
					<a href="#"> See more viewer statistics </a>
					<a href="#"> Get more viewership </a>
				</div>

			</div>
			<!-- END OF viewership_page tab_info -->

		</div>
		<!-- END OF center_content_container -->



		<!-- side user portal w/ business/user/education/hearts tabs -->
		<div class="side_portal col_sm_1">
			
			<!-- SIDE PORTAL NAVIGATION W/ ICONS -->
			<div class="side_portal_nav">
				<a href="#" class="portal_tab_icons"> 
					<img class="briefcase_tab portal_icons" src="./images/briefcase_icon.png">
				</a>

				<a href="#" class="portal_tab_icons"> 
					<img class="user_tab portal_icons" src="./images/user_icon.png">
				</a>

				<a href="#" class="portal_tab_icons"> 
					<img class="education_tab portal_icons" src="./images/education_icon.png">
				</a>

				<a href="#" class="portal_tab_icons"> 
					<img class="heart_tab portal_icons" src="./images/heart_icon.png">
				</a>
			</div>
			<!-- END OF side_portal_nav -->


			<!-- SIDE PORTAL INDIVISUAL PAGES -->
			<div class="briefcase_page side_portal_page">
				<h4> Current Job Postings </h4>

				<div class="job_posting">

					<div class="job_posting_logo">

					</div>

					<h2> Intern </h2>
					<h3> Forrest Hostpital </h3>
					
					<a href="#"> <span class="job_learn_more large_link"> Learn More </span> </a>

					<a href="#"> <span class="job_apply large_link"> Apply </span> </a>

				</div>

				<div class="job_posting">

					<div class="job_posting_logo">

					</div>

					<h2> Junior Designer </h2>
					<h3> Albert Frost Artistics </h3>
					
					<a href="#"> <span class="job_learn_more large_link"> Learn More </span> </a>

					<a href="#"> <span class="job_apply large_link"> Apply </span> </a>

				</div>

			</div>
			<!-- END OF briefcase_page -->



			<!-- User/People you may know page -->
			<div class="user_page side_portal_page">
				<h4> People You May Know </h4>

				<div class="person_know">

					<div class="person_know_avatar">

					</div>
					
					<div class="person_know_name_container">
						<a href="#"> <h2> Larry Lost </h2> </a>
						<a href="#"> <h3> works at Gillian Law </h3> </a>

						<a href="#"> <span class="connect_link large_link"> Connect </span> </a>

						<a href="#"> <span class="IDK_link large_link"> I don't know this person </span> </a>
					</div>

				</div>


				<div class="person_know">

					<div class="person_know_avatar">

					</div>

					<div class="person_know_name_container">
						<a href="#"> <h2> David Shephard </h2> </a>
						<a href="#"> <h3> works at Williams Bakery </h3> </a>

						<a href="#"> <span class="connect_link large_link"> Connect </span> </a>

						<a href="#"> <span class="IDK_link large_link"> I don't know this person </span> </a>
					</div>

				</div>


				<div class="person_know">

					<div class="person_know_avatar">

					</div>
					
					<div class="person_know_name_container">
						<a href="#"> <h2> Walt Lloyd </h2> </a>
						<a href="#"> <h3> works at Brains and Science Museum for Kids </h3> </a>

						<a href="#"> <span class="connect_link large_link"> Connect </span> </a>

						<a href="#"> <span class="IDK_link large_link"> I don't know this person </span> </a>
					</div>

				</div>


				<div class="person_know">

					<div class="person_know_avatar">

					</div>
					
					<div class="person_know_name_container">
						<a href="#"> <h2> Ju Yong </h2> </a>
						<a href="#"> <h3> works at Yong Industries </h3> </a>
					
						<a href="#"> <span class="connect_link large_link"> Connect </span> </a>

						<a href="#"> <span class="IDK_link large_link"> I don't know this person </span> </a>
					</div>

				</div>

			</div>
			<!-- END OF user_page -->
			

			
			<!-- education page -->
			<div class="education_page side_portal_page">
				
				<h4> Further Your Education </h4>
				<p> Planning to attend a university? How about going back to school to get that perfect degree? Are you looking to further your education? We’ve got you covered. Thanks to LinkedIn resources, we can help you find the perfect degree or get into the perfect school so you can advance your skills, knowledge an network! </p>


				<div class="education_college_container">
					
					<h3> Featured College </h3>

					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet velit quis tortor vulputate fringilla aliquam sit amet ante. </p>

					<div class="college_img"> </div>
					
					<a href="#"> <span class="job_learn_more large_link"> Learn More </span> </a>

				</div>

				<div class="education_class_container">
					
					<h3> Featured Class or Course </h3>

					<p> Nunc ac augue sed dui luctus fringilla euismod sit amet tellus. Aenean sed pretium elit, et tempor ante. Etiam dictum posuere ex sit amet dapibus. </p>

					<div class="class_img"> </div>
					
					<a href="#"> <span class="job_learn_more large_link"> Learn More </span> </a>

				</div>

			</div>
			<!-- END OF education_page -->



			<!-- hearts and favorites tab page -->
			<div class="heart_page side_portal_page">
				
				<h4> Save Your Favorites </h4>
				<p> This is your Favorites menu. Here is where you can save articles, companies, and people you find interesting or want to come back to later. As you save things to your Favorites, you can scroll down a list of things you’ve saved, organize them by type (article, connection, company, etc), and even send the page links via your LinkedIn email. </p>

			</div>
			<!-- END OF hearts_page -->

		</div>
		<!-- END OF side_portal -->

      </div>
      <!-- END OF wrapper -->
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}
	
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>

    $(document).ready(function(){

    	// NEWS AND MY VIEWERSHIP TABS
    	$('.news_tab').click(function(e){
    		$('.viewership_page').hide();
    		$('.news_updates_page').show();
    		e.preventDefault();
    	});

    	$('.viewership_tab').click(function(e){
    		$('.news_updates_page').hide();
    		$('.viewership_page').show();
    		e.preventDefault();
    	});


    	// USER PORTAL MENU TABS
    	$('.briefcase_tab').click(function(e){
    		$('.user_page').hide();
    		$('.education_page').hide();
    		$('.heart_page').hide();
    		$('.briefcase_page').show();

    		e.preventDefault();
    	});

    	$('.user_tab').click(function(e){
    		$('.briefcase_page').hide();
    		$('.education_page').hide();
    		$('.heart_page').hide();
    		$('.user_page').show();

    		e.preventDefault();
    	});

    	$('.education_tab').click(function(e){
    		$('.briefcase_page').hide();
    		$('.user_page').hide();
    		$('.heart_page').hide();
    		$('.education_page').show();

    		e.preventDefault();
    	});

    	$('.heart_tab').click(function(e){
    		$('.briefcase_page').hide();
    		$('.user_page').hide();
    		$('.education_page').hide();
    		$('.heart_page').show();

    		e.preventDefault();
    	});



    	$('.time_span').click(function(){
    		$('.time_span_dropdown').width($('.time_span').width());
    		$('.time_span_dropdown').show();
    	});

    });

    </script>

  </body>

</html>
