---

---

<!--Version 1 of LinkedIn Dashboard Page-->

<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head1.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}

      <div class="wrapper">
		
		<div class="profile_info col_md_1">
			
			<div class="profile_avatar"> 
				<img class="profile_img" src="./images/profile_icon.png">
				<a href="edit_profile"> Edit Profile </a>
			</div>
			
			<h1 class="profile_name"> Mary Gray </h1>
			<h2 class="profile_job"> Waitress at Happy Grill </h2>
			

			<div class="message_notifications_container">
				<a href="#"> <img class="message_icon blue_icon" src="./images/message_icon.png"> </a>

				<a href="#"> <img class="notifications_icon blue_icon" src="./images/notifications_icon.png"> </a>

				<a href="#" class="see_connections"> See Connections </a>
			</div>

		</div>

		<div class="news_updates col_sm_1">
			
			<div class="news_updates_tab_nav">
				<a href="#">
				<div class="news_tab profile_tab">
					<h2> News Updates </h2>
				</div>
				</a>
				
				<a href="#">
				<div class="viewership_tab profile_tab">
					<h2> My Viewership </h2>
				</div>
				</a>

				<div class="news_updates_page tab_info">
					<p> nfjkds;nfksnsjkfnkdnfsknfks </p>
				</div>

				<div class="viewership_page tab_info">
					<p> VIEWERSHIP RAW </p>
				</div>
			</div>

		</div>

      </div>
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}
	
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>

    $(document).ready(function(){

    	$('.news_tab').click(function(){
    		$('.viewership_page').hide();
    		$('.news_updates_page').show();
    	});

    	$('.viewership_tab').click(function(){
    		$('.news_updates_page').hide();
    		$('.viewership_page').show();
    	});

    });

    </script>

  </body>

</html>
