---

---

<!--Version 1 of LinkedIn Dashboard Page-->

<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head1.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}

      <h1> BINGO BONGO </h1>
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}

    <script>

    $(document).ready(function(){

    });

    </script>

  </body>

</html>
