

@media(min-width: 0){
	
	h5{
		font-size: 4em;
	}

	.large_link{
		font-size: 1.3em;
	}

	.wrapper{
		min-width: 100%;
	}

	.profile_info{
		float: none;
		overflow: hidden;
	}

	.profile_avatar{
		width: 80px;
	}
	
	.profile_name_small, .profile_job_small{
		display: inline-block;
	}

	.message_notifications_container{
		float: left;
		padding-left: 2rem;
	}

	.blue_icon{
		padding-top: 0.5em;
		padding-right: 0.5em;
		width: 40px;
		height: 40px;
		float: none;
	}
	
	.center_content_container{
		float: none;
	}

	.center_content_nav{
		display: block;
	}

	.news_updates_page{
		border-bottom: 0;
	}

	.news_title_medium{
		display: none;
	}

	.more_articles{
		width: 50%;
	}
	
	.viewership_page{
		display: none;
	}


	.side_portal{
		float: none;
	}

	.side_portal_page{
		max-height: 400px;
		overflow: scroll;
	}


}


@media(min-width: 500px){
	
	h5{
		font-size: 3em;
	}

	.large_link{
		font-size: 1.1em;
	}

	.wrapper{
		min-width: 600px;
	}

	.profile_info{
		float: left;
		overflow: auto;
	}

	.profile_avatar{
		width: 100%;
		max-width: 80px;
	}
	
	.profile_name_small, .profile_job_small{
		display: none;
	}

	.message_notifications_container{
		padding-left: 0;

		.blue_icon{
			float: left;
			width: 45%;
			max-width: 40px;
		}
	}

	.center_content_container{
		float: left;
	}

	.center_content_nav{
		display: none;
	}	

	.news_updates_page{
		border-bottom: 1px solid $accent_color;
	}

	.news_title_medium{
		display: inline-block;
		margin-bottom: 2em;
	}

	.more_articles{
		width: 70%;

		.fa-caret-down{
			margin-top: -5px;
		}
	}

	.viewership_page{
		display: block;
	}

	.side_portal{
		float: left;
		margin-right: 0;
	}

}











