

@media(min-width: 0){

	.profile_avatar{
		width: 80px;
	}

	.profile_img{
		width: 100%;
	}

	

	// NEWS TAB
	.news_checklist{
		width: 80%;
		margin: 0 auto;
	}

	.article_container{
		width: 50%;
		margin: 0 auto;
	}

	.article_img_container{
		width: 100%;
		height: 150px;
		overflow: hidden;
		margin: 2em auto 0 auto;
	}

	.article_img{
		height: 100%;
	}

	

	// VIEWERSHIP TAB
	.big_number_img_container{
		width: 30%;
		float: left;
	}

	.viewership_text{
		width: 70%;
		margin-top: 1em;
		padding: 0.5em;
		float: left;
	}

	.time_span{
		padding: 0.3em;
		padding-right: 1em;
		border: 1px solid $accent_color;
	}

	.side_portal_page{
		max-height: 400px;
		overflow: scroll;
	}


}











