
@import 'variables_type1';


.job_posting{
	margin-bottom: 4em;
	
	h2{
		color: $header_color;
	}

	h3{
		margin-top: 0;
		color: $text-color;
	}
}

.job_posting_logo{
	width: 80px;
	height: 80px;
	background-color: $header_color;
}

.job_learn_more, .job_apply{
	margin: 0 auto;
	display: block;
}




