// Upper Profile Info

@import 'variables_type1';


.profile_img{
	width: 100%;
}

.profile_info{
	box-sizing: border-box;
	padding: 1em;
	overflow: hidden;
}

.profile_avatar{
	float: left;
}

.profile_name_small, .profile_job_small{
	float: left;
	padding-left: 2rem;
}

.profile_job{
	margin-bottom: 0.5em;
}

.see_connections{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}


// medium size / seperate divs

.profile_name_container_medium{
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	margin: 0.5em auto 0.5 auto;
}




