

$text_color: #4f6a92; 
$header_color: #00396b;
$links_color: #008eff;
$links_hover: #005fb2;
$accent_color: #a7b8d1; //for both borders and carots 
$light_accent: #eef1f6; //lighter accent for bg colors

body {
	font-family: "proxima-nova-soft", "Tahoma", sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 1.8em;
	margin: 0 auto;
	color: $text_color;
	font-weight: 100;
}

h2 {
	font-size: 1.3em;
	margin: 0 auto;
	color: $text_color;
	font-weight: 100;
}

h3 {
	font-size: 1.1em;
	margin: 1em auto 0 auto;
	color: $header_color;
	font-weight: 100;
}

h4{
	font-size: 1.1em;
	text-transform: uppercase;
	text-decoration: underline;
	margin: 1em auto;
	padding-left: 1em;
	color: $header_color;
}

h5{
	z-index: 2;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	color: $links_hover;
}

p{
	margin: 0 auto;
	color: $text_color;
}

a {
	color: $links_color;
	text-decoration: none;

	&:hover{
		color: $links_hover;
	}
}





