
@import 'variables_type1';


.viewership_page{
	display: none;
	box-sizing: border-box;
	overflow: hidden;
}


.big_number_img{
	width: 100%;
}

.viewership_text{
	box-sizing: border-box;
	position: relative;
}

.time_span_dropdown{
	position: absolute;
	display: none;
}

.graph{
	width: 80%;
	margin: 1em auto;
	height: 150px;
	clear: both;
	margin-top: 150px;
	background-color: $header_color;
}

.big_number_img_container{
	width: 30%;
	float: left;
}

.viewership_text{
	width: 70%;
	margin-top: 1em;
	padding: 0.5em;
	float: left;
}

.time_span{
	padding: 0.3em;
	padding-right: 1em;
	border: 1px solid $accent_color;
}

.viewer_stats_container{
	width: 80%;
	margin: 0 auto;

	a{
		float: left;
		padding-right: 1em;
	}
}