
@import 'variables_type1';


.viewership_page{
	z-index: 1;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.big_number_img_container{
	width: 30%;
	max-width: 120px;
	float: left;
	position: relative;
}

.big_number_img{
	z-index: 1;
	width: 100%;
	position: absolute;
}

.viewership_text{
	z-index: 1;
	margin-top: 1em;
	margin-left: 30%;
	padding: 0.5em;
	box-sizing: border-box;
	position: relative;
	float: left;


	a{
		color: $text_color;
	}
}

.time_span_dropdown{
	position: absolute;
	display: none;
}

.graph{
	width: 80%;
	margin: 1em auto;
	height: 150px;
	clear: both;
	margin-top: 150px;
	background-color: $header_color;
}

.time_span{
	padding: 0.3em;
	padding-right: 1em;
	border: 1px solid $accent_color;
}

.viewer_stats_container{
	width: 80%;
	margin: 0 auto;

	a{
		float: left;
		padding-right: 1em;
	}
}

.today{
	display: none;
}


.one_week{
	display: none;
}

.one_month{
	display: none;
}

.six_months{
	display: none;
}

.one_year{
	display: none;
}

.current_time_span{
	display: inline-block;
}

.viewership_dropdown{
	z-index: 2;
	width: 150px;
	height: 160px;
	overflow: scroll;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid $accent_color;
	position: absolute;
	display: none;

	a{
		margin-bottom: 0.5em;
		border-bottom: 1px solid $accent_color;
	}
}








